.idea/
demo_projects/pytorch/models/*
model_transformation/pytorch_tf_keras/models/*
model_transformation/pytorch_tf_keras/logs/*
model_transformation/pytorch_tf_keras/test_images/*
model_transformation/pytorch_tf_keras/intermediate_models/*
model_transformation/pytorch_tf_keras/transformed_models/*
